/* src/components/CompanyProfile.css */

.company-profile {
    max-width: 750px;
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.company-profile-logo {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
}

.company-profile-name {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

.company-profile-section {
    margin: 20px 0;
    color: #747374;
}

.company-profile-section h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #3A3A3A;
}

.Industry-details {
    display: flex;
    width: 100%;
    gap: 10em;
}

.Industry-details h4 {
    margin: 10px 0;
    font-size: 16px;
}

.job-openings {
    width: 100%;
}