/* src/TabNavigation.css */

.tab-navigation {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tab-navigation button {
    background-color: #f1f1f1;
    border: none;
    border-radius: 15px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-navigation button:hover {
    background-color: #ddd;
}

.tab-navigation button.active {
    background-color: #007bff;
    color: white;
}

.tab-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}