.CourseSearchfrom {
    display: flex;
    width: 750px;
    align-items: center;
    margin: 1em;
    background: white;
    border: 2px solid #268aff;
    border-radius: 5px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.Coursesearchinput {
    flex: 1;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CourseSearchButton {
    background-color: #268aff;
    border: none;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}