.root {
    font-family: 'Inter';
}

.footer {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-section {
    display: flex;
    justify-content: space-between;
    margin: 0 3em;
}

.footer-item {
    margin: 1em 3em;
    width: 25%;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    background-color: #268AFF;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 8px;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    font-size: 2em;
    margin: 1.3em 0;
    font-weight: bold;
}

p {
    font-size: 1.2em;
    color: #333;
    margin: 0.75em 0;
}

a {
    display: block;
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
    margin: 0.75em 0;
}

.footer-bottom {
    border-top: 2px solid #268AFF;
    padding-top: 10px;
    margin: 0 6em;
    font-size: 0.8em;
    color: #333;
}


/* Media Queries */


/* For tablets and below */

@media (max-width: 768px) {
    .footer-section {
        margin: 0 1.5em;
        flex-wrap: wrap;
    }
    .footer-item {
        width: 45%;
        /* Adjust width for two items per row */
        margin: 1em 1.5em;
    }
    .footer-bottom {
        margin: 0 3em;
    }
}


/* For mobile devices */

@media (max-width: 480px) {
    .footer-section {
        flex-direction: column;
        margin: 0 1em;
    }
    .footer-item {
        width: 100%;
        /* Full width for each item */
        margin: 1em 0;
    }
    .footer-bottom {
        margin: 0 1em;
    }
}