@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.root {
    font-family: 'Inter';
}

.hero-section {
    display: flex;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
    margin-top: 15vh;
    gap: 10%;
    overflow-x: hidden;
}

.hero-content {
    width: 40%;
}

.hero-buttons {
    margin-right: 1em;
    display: flex;
}

.hero-qr-code {
    margin-top: 20px;
    display: flex;
}

.hero-qr {
    width: 10rem;
    height: 10rem;
}

.hero-scan-to-download {
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(42, 42, 42, 0.4);
    color: #555;
    background-color: #ffffff;
}

.hero-arrow {
    width: 45%;
    height: 40%;
}

.hero-qr-Scan {
    margin-top: 45px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .hero-section {
        height: 75vh;
        gap: 5%;
    }
    .hero-scan-to-download {
        font-size: 0.7rem;
    }
}


/* Styles for small screens */

@media (max-width: 767px) {
    .hero-section {
        align-items: center;
        flex-direction: column;
        height: auto;
        margin-top: 5vh;
        gap: 2rem;
        overflow-x: visible;
        justify-content: flex-start;
        height: 125vh;
    }
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        order: 1;
    }
    .hero-section h1 {
        font-size: 2rem;
        text-align: center;
    }
    .phone-image-container {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .phone-image {
        max-width: 80%;
        height: auto;
    }
    .hero-buttons {
        margin-right: 0;
        display: flex;
        justify-content: center;
    }
    .hero-qr-code {
        margin-top: 2rem;
        justify-content: center;
    }
    .hero-qr {
        width: 8rem;
        height: 8rem;
    }
    .hero-scan-to-download {
        font-size: 0.7rem;
    }
    .hero-arrow {
        width: 30%;
        height: 30%;
    }
    .hero-qr-Scan {
        margin-top: 1rem;
    }
}