@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.root {
    font-family: 'Inter';
}


/* Common Styles */

.navBar {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navBar-container {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar-ManuSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar-manu {
    margin: 0;
    height: 0;
    width: 0;
}

.download-container {
    position: relative;
    display: none;
}

.manu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.manu-img {
    width: 30px;
    height: 30px;
}

.dropdown {
    position: absolute;
    margin: 0px -130px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.dropdown ul li {
    border-radius: 5px;
}


/* Large Screens */

@media only screen and (min-width: 768px) and (max-width: 1199px) {}


/* Small Screens */

@media only screen and (max-width: 767px) {
    .downloadbutton {
        display: none;
    }
    .download-container {
        display: block;
        width: 25px;
    }
}