@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.root {
    font-family: 'Inter';
}


/* Common Styles */

.navBar {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navBar-container {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navBar-logo {
    background-color: #268AFF;
    margin: 0 10px;
    border-radius: 12px;
}

.logo-heading {
    font-weight: bold;
    color: #000000;
    margin: 10px;
}

.nav-items {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
}

.navBar-ManuSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-app {
    background-color: #268AFF;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

.navBar-manu {
    margin: 0;
    height: 0;
    width: 0;
}

.download-container {
    position: relative;
    display: none;
}

.download-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.download-button img {
    width: 30px;
    height: 30px;
}

.dropdown {
    position: absolute;
    margin: 0px -100px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.dropdown ul li {
    border-radius: 5px;
}

.dropdown ul li a {
    text-decoration: none;
    padding: 7px 10px;
    color: #ffffff;
}

.dropdown ul li:hover {
    background-color: #f1f1f1;
}


/* Large Screens */

@media only screen and (min-width: 865px) {
    .navBar {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }
    .navBar-logo {
        height: 50px;
        width: 50px;
    }
    .logo-heading {
        font-size: 59px;
    }
    .nav-items {
        font-size: 24px;
    }
    .download-app {
        font-size: 24px;
    }
}


/* Small Screens */

@media only screen and (max-width: 865px) {
    .navBar-logo {
        height: 30px;
        width: 30px;
        margin: 0 5px;
        border-radius: 10px;
    }
    .logo-heading {
        font-size: 1.7em;
        margin: 5px;
    }
    .download-app {
        display: none;
    }
    .navBar-manu {
        margin: 10em;
        height: 30px;
        width: 30px;
    }
    .download-container {
        display: block;
        width: 25px;
    }
    .download-app-manu {
        display: block;
        font-size: 15px;
        border-radius: 15px;
        background-color: #268AFF;
        text-decoration: none;
    }
}